*#
*.iml
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.html
.DS_Store
.attach_pid*
.classpath
.factorypath
.gradle
.metadata
.project
.recommenders
.settings
.springBeans
.vscode
/code
MANIFEST.MF
_site/
activemq-data
bin
build
!/**/src/**/bin
!/**/src/**/build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
out
overridedb.*
target
.flattened-pom.xml
secrets.yml
.gradletasknamecache
.sts4-cache
.git-hooks/
node_modules
.DS_Store
*.log*
*.cpuprofile
node_modules/

dist/
dist-*
compiled/
!website/**/dist-path.mdx
coverage/
doc_build/
playwright-report/
tsconfig.tsbuildinfo
.swc

# CSS Modules dist files
*.css.d.ts
*.less.d.ts
*.scss.d.ts

# Test temp files
test-temp-*

.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
.nx/
.history/
.env.local
.env.*.local

# ignore directory for artifacts produced by tests
